/* 
@media (max-width: 320px) {


    nav{
    padding-left: 1px;
}

.nav-left{
    font-size: 20px;
}

.links-icon{
    margin-right: 1rem;
}

.links-icon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

    .link-tab {
        width: 30vw;
        height: 90vh;
        padding: 2rem;
    }

  .links{
    height: 10px;
    width: 10px;
    gap: 20px;
}

.arrow-up{
    width: 10px;
    height: 10px;
    margin-right:20px;
    display: none;
}



#page1{
    height: 80vh;
    width: 90vw;
    margin: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.page1-left{
    border: solid;
    height: 350px;
    width: 25%;
    border-radius: 50%;
}

.page1-left img{
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.page1-right{
    height: 500px;
    width: 60%;
    padding: 65px;
}

.page1-right h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.page1-right p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a09f9f;
}
.page1-right h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

} */