

@media (max-width: 768px) {


    nav{
    padding-left: 1rem;
}

.nav-left{
    font-size: 1.4rem;
}


.links-icon{
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
}

.arrow-up{
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
    display: none;
}

    .link-tab {
        width: 30vw;
        height: 90vh;
        padding: 4rem;
    }

  .links{
    height: 4rem;
    width: 4rem;
    gap: 4rem;
}




#page1{
    flex-direction: column;
    gap: 20px;
}

.page1-left{
    height: 400px;
    width: 65%;
}

.page1-right{
    height: 500px;
    width: 100%;
    padding: 5px;
}

.page1-right h1{
    font-size: 2rem;
    margin-bottom: 10px;
}
.page1-right p{
    font-size: 1rem;
    line-height: 1.2;
    color: #a09f9f;
}
.page1-right h2{
    margin-top: 10px;
    margin-bottom: 10px;
}


}