
@media (max-width: 640px) {


    nav{
    padding-left: 1rem;
}

.nav-left{
    font-size: 1.1rem;
}

.links-icon{
    margin-right: 1rem;
}

.links-icon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

    .link-tab {
        width: 30vw;
        height: 90vh;
        padding: 2rem;
    }

  .links{
    height: 3rem;
    width: 3rem;
    gap: 2rem;
}

.arrow-up{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    display: none;
}



#page1{
    flex-direction: column;
    gap: 20px;
}

.page1-left{
    height: 300px;
    width: 60%;
}

.page1-right{
    height: 500px;
    width: 100%;
    padding: 5px;
}

.page1-right h1{
    font-size: 2rem;
    margin-bottom: 10px;
}
.page1-right p{
    font-size: 1rem;
    line-height: 1.2;
}
.page1-right h2{
    margin-top: 10px;
    margin-bottom: 10px;
}


#page2{
    height: 100vh;
    width: 90vw;
    padding: 2vh;
}

.page2-content{
    height: 35vh;
    width: 90vw;
    margin-bottom: 2vh;
    padding: 2vh;
    border-radius: 30px;

}
.page2-projects{
    height: 35vh;
    width: 90vw;
    margin-bottom: 2vh;
    padding: 2vh;
    border-radius: 30px;

}

.page2-head{
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.page2-body{
    font-size: 1rem;
    line-height: 1.5;
}
.page2-body span{
    font-weight: bold;
}
.page2-body p{
    font-size: 1rem;
}







.contact{
    padding: 2vh 0;
    height: 55vh;
    margin-bottom: 10vh;
}

.form{
    width: 100%;
}

.form input,
.form textarea {
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    color: #333;
    width: 100%;
}

.form textarea {
    resize: vertical;
    min-height: 100px;
}

.form button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #494949;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}
}