@font-face {
    font-family: font1;
    src: url(/source/file2.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #fff;
    height: 100%;
    width: 100%;
    font-family: font1;
}   

nav{
    background-color: #494949;
    padding-left: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-left{
    font-size: 1.8rem;
}

.nav-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-icon{
    width: 2rem;
    height: 3rem;
    margin-right: 4rem;
}
.arrow-up{
    width: 2rem;
    height: 3rem;
    margin-right: 4rem;
    display: none;
}

.link-tab{
    height: 90vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #494949;
    position: absolute;
    right: 0;
    top: -900%;
    transition: all 0.5s ease;
    padding-top: 50px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 70px;
    width: 70px;
}